<!DOCTYPE html>
<html>
<head>
    <title>Basic Query Cyclop</title>
</head>
    <script src="../../dist/cyclop.js"></script>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
<body>
  <div id="app">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Hello CyClop
          </h1>
        </div>
      </div>
    </section>
    <div class="notification is-danger" v-if="isError">
      <button class="delete"></button>
      {{ this.errorMsg }}
    </div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input" type="text" v-model="prouductName" placeholder="product name">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Price</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input" type="text" v-model="prouductPrice" placeholder="x,xxx">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Category</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input" type="text" v-model="prouductCategory" placeholder="Separate by Comma (,)">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-success" v-on:click="addProduct">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Price</th>
              <th>Category</th>
              <th>Tools</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(product, index) in products">
              <td>{{ index +1 }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.category }}</td>
              <td>
                <button class="button is-danger" v-on:click="deleteProduct(product._id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <script src="./js/app.js"></script>
</body>
</html>